flow3.json
[
    {
        "id": "c89de76c3f33d911",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "37039c84a51fa595",
        "type": "mqtt in",
        "z": "c89de76c3f33d911",
        "name": "",
        "topic": "tadeoiot/grupo5/temp",
        "qos": "2",
        "datatype": "utf8",
        "broker": "7ae2366604fb6841",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 200,
        "wires": [
            [
                "2d9757dead66429e"
            ]
        ]
    },
    {
        "id": "2d9757dead66429e",
        "type": "json",
        "z": "c89de76c3f33d911",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "b1c5097f2bd7a182",
                "9ee259d74ad51f94",
                "fc84261987f9b49a"
            ]
        ]
    },
    {
        "id": "b1c5097f2bd7a182",
        "type": "function",
        "z": "c89de76c3f33d911",
        "name": "",
        "func": "msg.payload = msg.payload.id;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 120,
        "wires": [
            [
                "fac56c67a5737a17"
            ]
        ]
    },
    {
        "id": "9ee259d74ad51f94",
        "type": "function",
        "z": "c89de76c3f33d911",
        "name": "",
        "func": "msg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 260,
        "wires": [
            [
                "a7a8578eff7a636d"
            ]
        ]
    },
    {
        "id": "fac56c67a5737a17",
        "type": "ui_text",
        "z": "c89de76c3f33d911",
        "group": "fe4412b3a8723342",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ultimo ID",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 680,
        "y": 120,
        "wires": []
    },
    {
        "id": "a7a8578eff7a636d",
        "type": "ui_gauge",
        "z": "c89de76c3f33d911",
        "name": "",
        "group": "fe4412b3a8723342",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Ultima Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": "-30",
        "max": "+51",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 720,
        "y": 260,
        "wires": []
    },
    {
        "id": "fc84261987f9b49a",
        "type": "function",
        "z": "c89de76c3f33d911",
        "name": "",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 380,
        "wires": [
            [
                "3702e7a82e8e5a3e"
            ]
        ]
    },
    {
        "id": "3702e7a82e8e5a3e",
        "type": "ui_chart",
        "z": "c89de76c3f33d911",
        "name": "",
        "group": "ce6de31e3b129d7c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Historial",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Esperando datos",
        "dot": false,
        "ymin": "-30",
        "ymax": "+51",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "7ae2366604fb6841",
        "type": "mqtt-broker",
        "name": "hivemq",
        "broker": "35.156.220.109",
        "port": "1883",
        "clientid": "tadeosic-2022",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "fe4412b3a8723342",
        "type": "ui_group",
        "name": "Ultimo dato",
        "tab": "463ab9c8735b375a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ce6de31e3b129d7c",
        "type": "ui_group",
        "name": "Gráfica",
        "tab": "463ab9c8735b375a",
        "order": 2,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "463ab9c8735b375a",
        "type": "ui_tab",
        "name": "Flow3",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]